* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding-top: 48px;
}

.cardContainer {
  padding: 15px;
}

.taskDetail {
  float: left;
  padding-bottom: 10px;
}

.question {
  width: 50px;
  variant: 'h5';
}
